* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #f5f6f7;
  font-family: "Comfortaa", sans-serif;
  background-color: #1f1f1f;
  width: 100vw;
}

nav.navbar {
  background-color: #1f1f1f;
  font-size: 13px;
  border-bottom: 3px solid #edf060;
  box-shadow: 0px 3px 10px #f5f6f7;
}

nav .navbar-brand {
  font-family: "Exo 2", sans-serif;
}

.navbar-toggler {
  border: 2px solid #edf060;
}

a:not(.navbar-brand) {
  text-decoration: none;
}

a.nav-link, a:not(.navbar-brand) {
  color: #f5f6f7;
  border: 3px solid #edf060;
  padding: 9px 12px;
  border-radius: 10px;
  margin: 5px;
  background-color: #171219;
}

nav.navbar a.active {
  background-color: #edf060;
  border-color: #f5f6f7;
  color: #171219;
}

footer {
  color: #f5f6f7;
  background-color: #1f1f1f;
  border-top: 3px solid #edf060;
  box-shadow: 0 -2px 10px #f5f6f7;
}

ul.nav a.footer-link {
  color: #171219;
  background-color: #f5f6f7;
  border: 2px solid #edf060;
  border-radius: 5px;
  font-size: 23px;
}

a.nav-link:hover, a:hover:not(.navbar-brand) {
  color: #171219;
  background-color: #edf060;
}

header > img#intro-photo {
  width: 30%;
  min-width: 150px;
  max-width: 270px;
  border-radius: 100px;
  border: 5px solid #edf060;
  box-shadow: 0px 0px 20px #f5f6f7;
}

header > img {
  margin-top: 2rem;
  width: 50px;
}

h1, h2, h3 {
  font-family: "Catamaran", sans-serif;
  font-weight: bold;
}

header > h1 {
  font-size: 50px;
  text-shadow: 2px 2px 5px #edf060;
  background-color: #1f1f1f;
}

header > ul {
  max-width: 100%;
}

header > ul > li {
  font-size: 1.18rem;
  margin: 10px;
  background-color: #1f1f1f;
}

header > ul > .divider {
  height: 45px;
  width: 1px;
  background-color: #f5f6f7;
  border: 2px solid #edf060;
  box-shadow: 0 0 5px 2px #edf060;
}

header {
  background-image: url("img/circle-scatter-haikei.svg");
  background-attachment: fixed;
}

hr {
  margin: 5px;
}

.section-type-1 > hr {
  border: 1px solid #edf060;
}

.section-type-2 > hr {
  border: 1px solid #171219;
}

p {
  font-size: 1.2rem;
}

.section-type-1 {
  border: 3px solid #edf060;
  background-color: #1f1f1f;
}

.section-type-2 {
  background-color: #edf060;
  color: #171219;
}

.lang-card {
  border: 2px solid #1f1f1f;
  border-radius: 20px;
  width: max(17%, 180px);
}

.project {
  width: 40%;
  max-width: 500px;
  min-width: 250px;
  border: 2px solid #edf060;
  border-radius: 10px;
}

.additional-info {
  background-color: #edf060;
  color: #171219;
  border-radius: 5px 0px;
}

.project > img {
  width: 100%;
  border-radius: 10px;
}

.course-card {
  width: 320px;
}

.course-card > .course-desc {
  font-size: 1rem;
}

.course-card > .course-code {
  font-size: 1.8rem;
}

a.button-2:hover {
  border: 3px solid #171219;
}